  <span *ngFor="let form of formData | keyvalue | orderBy: 'value.order'">
    <div class="form-group"
      *ngIf="((!form.value.if) || (form.value.if && form.value.if(formData))) && ((form.value.name && form.value.name.length > 0) || !form.value.name)">

      <label *ngIf="form.value.name && form.value.type != 'dependent' && form.key != 'submit'" class="label">{{ form.value.name }}</label>
      <div class="input-group">
        <input type="text" *ngIf="form.value.type == 'text'" [(ngModel)]="form.value.value" name="{{ form.key }}"
          class="form-control" placeholder="" />

        <input type="number" *ngIf="form.value.type == 'number'" [(ngModel)]="form.value.value" name="{{ form.key }}"
          class="form-control" placeholder="" />

        <textarea *ngIf="form.value.type == 'textarea'" [(ngModel)]="form.value.value" name="{{ form.key }}"
          class="form-control" placeholder=""></textarea>

        <span *ngIf="form.value.type == 'radio'">
          <span *ngFor="let option of form.value.option">
            <input type="radio" [(ngModel)]="form.value.value" name="{{ form.key }}"
              value="{{ option.key }}" />{{ option.value }}
          </span>
        </span>

        <span *ngIf="form.value.type == 'autocomplete'" style="width:100%">
          <div class="input-group">
            <input type="text" [(ngModel)]="form.value.typing" autocomplete="off" name="parentsearch"
              (keyup)="orderSystemService.autocomplete(form.value, form.value.matches)" class="form-control" placeholder="">
            <div class="search-list">
              <div class="list">
                <div *ngFor="let node of form.value.searchList" class="relative">
                  <label class="accordion active" (click)="form.value.callback(node, form.value)">
                      {{ form.value.searchListCallback(node) }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </span>

        <span *ngIf="form.value.type == 'multipleChildren'" style="width:100%">
          <div class="modal" id="ChildModal{{ form.key }}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{ form.value.buttonName }}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="auto-form-wrapper">
                    <app-form-builder [formData]="form.value.form" [parent]="formData" [callback]="callbackNew"></app-form-builder>
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <table class="table table-hover table-bordered table-striped" *ngIf="form.value.value.length > 0" style="margin-bottom:10px">
              <thead>
                <tr>
                  <th>#</th>
                  <ng-container *ngFor="let x of form.value.form | keyvalue">
                  <th  *ngIf="x.key != 'submit'">{{ x.value.name }}</th>
                  </ng-container>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of form.value.value; let i = index">
                  <td>{{ i+1 }}</td>
                  <ng-container *ngFor="let y of x | keyvalue">
                    <td>
                      <ng-container *ngIf="form.value.form[y.key].type == 'autocomplete'; else normal">
                        {{ orderSystemService.getNameOfAutoComplete(form.value.form[y.key], y.value, y) }}
                      </ng-container>
                      <ng-template #normal>
                          {{ y.value }}
                      </ng-template>
                    </td>
                  </ng-container>
                  <td>
                    <div class="actionIcon">
                      <i class="fa fa-trash" (click)="deleteItem(i, form.value.value)"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
          <button type="button" class="btn btn-primary toolbar-item" data-toggle="modal"
            [attr.data-target]="'#ChildModal' + form.key ">{{ form.value.buttonName  }}</button>
        </span>

        <span *ngIf="form.key == 'submit'" style="width:100%">
            <button class="btn btn-primary submit-btn btn-block" (click)="submit(formData)">{{ form.value.name }}</button>
        </span>
      </div>

    </div>
  </span>
