<div class="content-wrapper">

<!-- The Add Modal -->
  <div class="modal" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New {{ schema.name }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="auto-form-wrapper">
            <!-- <form>
              <span *ngFor="let form of schema.formAdd | keyvalue | orderBy: 'value.order'">
                <div class="form-group"  *ngIf="((!form.value.if) || (form.value.if && form.value.if(schema.formAdd))) && form.value.name.length > 0" >

                    <label class="label">{{ form.value.name }}</label>
                    <div class="input-group">
                      <input type="text" *ngIf="form.value.type == 'text'" [(ngModel)]="form.value.value" name="{{ form.key }}" class="form-control"
                        placeholder="" />

                      <input type="number" *ngIf="form.value.type == 'number'" [(ngModel)]="form.value.value" name="{{ form.key }}" class="form-control"
                      placeholder="" />

                      <textarea *ngIf="form.value.type == 'textarea'" [(ngModel)]="form.value.value" name="{{ form.key }}" class="form-control"
                      placeholder=""></textarea>

                      <span *ngIf="form.value.type == 'radio'">
                        <span *ngFor="let option of form.value.option">
                          <input type="radio"  [(ngModel)]="form.value.value" name="{{ form.key }}" value="{{ option.key }}" />{{ option.value }}
                        </span>
                      </span>

                      <span *ngIf="form.value.type == 'autocomplete'" style="width:100%">
                          <div class="input-group">
                              <input type="text" [(ngModel)]="form.value.typing" autocomplete="off" name="parentsearch"
                                (keyup)="autocomplete(form.value)" class="form-control" placeholder="No Category">
                              <div class="search-list">
                                <div class="list">
                                  <div *ngFor="let node of form.value.searchList" class="relative">
                                    <label class="accordion active" (click)="form.value.callback(node, form.value)">
                                      {{node.name}}
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </span>

                      <span *ngIf="form.value.type == 'multipleChildren'" style="width:100%">
                          <div class="modal" id="ChildModal{{ form.key }}">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">{{ form.value.buttonName }}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="auto-form-wrapper">
                                        <form>
                                        </form>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>

                          <button>{{ form.value.buttonName  }}</button>
                      </span>
                    </div>

                </div>
              </span>

              <div class="form-group">
                <button class="btn btn-primary submit-btn btn-block" (click)="add()">Add</button>
              </div>
            </form> -->
            <app-form-builder [formData]="schema.formAdd"></app-form-builder>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


 <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">{{ schema.name }}</h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="page-header-toolbar">
        <button type="button" class="btn btn-primary toolbar-item" data-toggle="modal"
          data-target="#addModal">New</button>
      </div>
    </div>
  </div>
  <!-- Page Title Header Ends-->
  <router-outlet></router-outlet>

</div>
