<div class="content-wrapper">

<!-- The Add Modal -->
 <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">{{ schema.name }}</h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="page-header-toolbar">
        <button type="button" class="btn btn-primary toolbar-item" routerLink="/home/order-system/challanin/add">New</button>
      </div>
    </div>
  </div>
  <!-- Page Title Header Ends-->
  <router-outlet></router-outlet>

</div>
