<div id="printarea"  style="margin: auto; display: flex; flex-direction: column;">
  <div class="flexhead">
    <div style="flex: 1; text-align: center; font-weight: 800; font-size: 18px;">
      Challan In
    </div>
    <div style="display: flex; padding: 5px 0; align-items:center; border: 1px solid #000">
      <div style="flex: 1;">
        <img src="assets/images/logo.png" width="200px" />
      </div>

      <h2 class="headingh1"
        style="margin: 5px 0;font-size:27px; text-align: center; font-weight: 600; text-transform: uppercase;">
        Spartan International
      </h2>

      <div style="flex: 1; text-align: right;">
        <div style="padding: 5px; text-align: right; font-size: 14px;">
          <span style="transform: uppercase;">KAPURTHALA ROAD, BAWA KHEL, OPP R.K DHABA JALANDHAR, PUNJAB, INDIA,
            144003</span><br />
          Tel: 0181-5056987<br />
          Email: sales@spartansports.co.in <br />
          <strong>GSTIN: 03ACSFS4118B1ZD</strong>
        </div>
      </div>
    </div>

    <table width="100% flex-1" class="table table-striped table-bordered table-hover">
      <tr>
        <td style="width: 50%; vertical-align: top;">
          <div>
            <strong>Vendor`s Name &amp; Address</strong><br />
            <ng-container *ngIf="order.type == 'company'">
              {{ order.person_id_detail.name }} <br/>
              {{ order.person_id_detail.street }}  {{ order.person_id_detail.city }} <br/>
              {{ order.person_id_detail.state }} {{ order.person_id_detail.country }} <br/>
              <strong>GSTIN: {{ order.person_id_detail.gstin }}</strong>
              <br /><br />
              Contact No: {{ order.person_id_detail.mobile }}<br />
              Contact Person: {{ order.person_id_detail.contactperson }}<br />
              Email: {{ order.person_id_detail.email }}<br />
            </ng-container>
            <ng-container *ngIf="this.order.type == 'person'">
                {{ order.name }}
            </ng-container>
          </div>
        </td>
        <td style="width: 50%;">
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;"><strong>Purchase Order No: &nbsp;</strong></div>
            <div class="col-xs-8"
              style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px; font-weight: 800;">
              <strong>{{ order.id }}</strong></div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;text-align: left;">Date &amp; Time: &nbsp; </div>
            <div class="col-xs-8" style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px;">
              {{ order.created_datetime }} </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;text-align: left;">Revision No. &amp; Date: &nbsp;</div>
            <div class="col-xs-8" style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px;">
              <br />
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;text-align: left;">Your Quotation Ref: &nbsp;</div>
            <div class="col-xs-8" style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px;">
              {{ order.quotation_ref }} </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;text-align: left;">Contact No:&nbsp; </div>
            <div class="col-xs-8" style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px;">
              {{ order.contact_number }} </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-xs-4" style="line-height: 25px;text-align: left;">Contact Person:&nbsp; </div>
            <div class="col-xs-8" style="line-height: 25px;border-bottom-style: dashed;border-bottom-width: 1px;">
                {{ order.contact_person }} </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <p>Please supply the following:&nbsp;</p>
  <div style="flex:1;">
    <table class="table table-striped table-bordered table-hover" style="margin: 0;width: 100%; height: 100%;">
      <tr style="height: 35px;">
        <th rowspan="2">Sr.</th>
        <th rowspan="2">Code</th>
        <th rowspan="2">Description of Goods</th>
        <th rowspan="2">QTY</th>
        <th rowspan="2">Rate</th>
        <th rowspan="2">Amount</th>
        <th colspan="2">Discount</th>
        <th style="font-size: 12px;">Amt After</th>
        <th colspan="2">SGST</th>
        <th colspan="2">CGST</th>
        <th colspan="2">IGST</th>
        <th rowspan="2" style="font-size: 12px;">Amount Inc. Tax</th>
      </tr>
      <tr style="height: 35px;">
        <th style="font-size: 12px;">%</th>
        <th style="font-size: 12px;">Amount</th>
        <th style="font-size: 12px;">Discount</th>

        <th style="font-size: 12px;">%</th>
        <th style="font-size: 12px;">Amount</th>
        <th style="font-size: 12px;">%</th>
        <th style="font-size: 12px;">Amount</th>
        <th style="font-size: 12px;">%</th>
        <th style="font-size: 12px;">Amount</th>
      </tr>

      <tr class="datasheet odd gradeX" style='height:35px' *ngFor="let x of order.items; let i = index">
        <td>{{ i+1  }}</td>
        <td>{{ x.product_id_detail.sku }}<br />
          <span style="font-size: 11px; font-weight: 600;"></span>
        </td>
        <td style="font-size: 12px;">
            {{ x.product_id_detail.name }}<br />
          <strong>HSN: </strong>{{ x.product_id_detail.hsn }}<br />
          <strong>Size: </strong>{{ x.product_id_detail.size }}<br />
          <strong>Color: </strong>{{ x.product_id_detail.color }}
        </td>
        <td>{{ x.quantity }} {{ x.product_id_detail.quantityin }}</td>
        <td>{{ x.price }}</td>
        <td>{{ x.amount }}</td>
        <td>{{ x.discount_percent }}</td>
        <td>{{ x.discount }}</td>
        <td>{{ x.amount_aft_discount }}</td>
        <td>{{ x.sgst_percent }}</td>
        <td>{{ x.sgst }}</td>
        <td>{{ x.cgst_percent }}</td>
        <td>{{ x.cgst }}</td>
        <td>{{ x.igst_percent }}</td>
        <td>{{ x.igst }}</td>
        <td>{{ x.total_amount }}</td>
      </tr>

      <tr style="height: 35px; font-weight: 800;">
        <td colspan="15" style="text-align: right; font-weight: 800;"><strong>TOTAL</strong></td>
        <td><strong style=" font-weight: 800;">{{ order.total }}</strong></td>
      </tr>
      <tr style="height: 35px;">
          <td colspan="16" style="font-size: 16px;">
              Amount in words: <strong>{{  order.total }}</strong>
          </td>
      </tr>
    </table>
  </div>
  <br />
  <div>
    <table width="100%" class="table table-striped table-bordered table-hover">
      <tr>
        <td style="width: 50%;">
          <div style="margin: 5px;">
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Payment Terms:&nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.payment_terms }}</div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Delivery Date &amp; Time: &nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.delivery_date }}
              </div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Delivery Terms:&nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.delivery_terms }}</div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Ship Via:&nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.ship_via }}</div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Ship To:&nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.ship_to }}
              </div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Bill To:&nbsp;</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;">{{ order.bill_to }}
              </div>
            </div>
          </div>
        </td>
        <td style="width: 50%;">
          <div style="margin: 5px;">
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Discount(if any):&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>0.00</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Taxable Amount&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>{{ order.taxable_amount }}</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Total Tax&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>{{ order.gst }}</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Total Amount&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>{{ order.total }}</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Other Charges (if any)&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>0.00</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Grand Total&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>{{ order.total }}</strong></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-4" style="padding: 0;">Amount in words&nbsp;</div>
              <div class="col-xs-8" style="border-bottom-style: dashed;border-bottom-width: 1px; text-align: right;">
                <strong>{{  order.total }} RUPEES PAISE ONLY</strong></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="smalltext">
      Our Purchase Order Number &amp; GST Number of LIT should be mentioned on all invoices and related documents.<br />
      Vendor shall mention GST Return &amp; fill GST return in time.<br />
      Vendor shall pay GST Taxes (IGST/CGST/SGST) to the Government as per time applicable to deposit GST Taxes.<br />
      This Purchase Order is issued as per Spartan standard terms &amp; conditions.<br />
      The material should be packed properly to avoid any transit damage.<br />
      This is a computer generated Purchase Order.<br />
    </p>
    <table width="100%" class="table table-striped table-bordered table-hover">
      <tr>
        <td style="width: 50%;">
          <div style="margin: 5px;">
            Vendor to Complete:<br />
            I hereby accept the Purchase Order<br />
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Signture</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;"><br /></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Name</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;"><br /></div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="col-xs-3" style="padding: 0;">Date</div>
              <div class="col-xs-9" style="border-bottom-style: dashed;border-bottom-width: 1px;"><br /></div>
            </div>
          </div>
        </td>
        <td style="text-align: right;width: 50%;">
          <br /><br /><br /><br />
          <span style="font-size: 10px;">Head Department of Purchase<br />
            Authorised Signatory
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
