/* You can add global styles to this file, and also import other style files */
@import '_variables.scss';

app-sidebar {
  background: linear-gradient(to top, #5768f3, #1c45ef);
}

.navbar.default-layout .navbar-brand-wrapper{
  width: 190px !important;
}

.navbar.default-layout .navbar-menu-wrapper{
  width: calc(100% - 190px);
}

.main-panel {
  background: #F3F3F3 !important;
  width: calc(100% - 190px) !important;
}

@media only screen and (max-width: 991px)
{
  .main-panel {
    width: 100% !important;
  }
}

.sidebar {
  width: 190px !important;
}


.search-list {
  position: absolute;
  top: 100%;
  // border: 1px solid #d5d5d5;
  width: 100%;
  background: #fff;
  z-index: 9999;

  .list {
    // padding: 5px 10px;
    cursor: pointer;

    &:nth-child(odd) {
      background: #eee;
    }

    &:nth-child(even) {
      background: #fff;
    }

    &:hover {
      background: #ddd;
    }
  }

  .accordion {
    background-color: $secondary-light;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 1px;
  }


  .active,
  .accordion:hover {
    border: 1px solid $secondary-light;
    color: $secondary-light;
    background: transparent;
  }

  .panel {
    padding: 0 0 0 40px;
    display: none;
    overflow: hidden;
  }

  .relative {
    position: relative;


    &>button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 14px;
      font-size: 15px;
      border: 0;
      background: $secondary-dark;
      color: #fff;
      z-index: 99999;
      display: none;

      &:hover {
        display: block;
      }
    }

    &>.accordion {
      &:hover~button {
        display: block;
      }
    }
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.refresh {
  width: 100%;
  height: 70px;
  margin: 20px 0;
  text-align: center;
  .refresh-button {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: url('./assets/loader/refresh.svg');
    background-size: contain;
    background-position: center;
    box-shadow: 0px 0px 10px #000;
    border-radius: 50%;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
    }
    &:focus,&:active{
      box-shadow: none;
    }
  }
}

.table td, .table th{
  white-space: normal !important;
  font-size: 12px !important;
}


.actionIcon{
  display: flex; font-size:24px !important;padding:0 !important;cursor: pointer;
  i:last-child {
    margin: 0 10px;
  }
  i{
    margin: 0 10px;
  }
  i:first-child {
    margin: 0 10px;
  }
  .fa-trash{
    color: red;
  }

  .fa-edit{
    color: orange;
  }

  .fa-info-circle{
    color: green;
  }
}


a{
  cursor: pointer;
}

.modal-dialog {
  max-width: 760px !important;
}


.sidebar > .nav .nav-item .nav-link {
	padding: 15px 30px 15px 20px !important;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link::before {
	left: 5px !important;
}


.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link::before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link::before {
	left: 10px !important;
}


.table.table-bordered td, .table.table-bordered th{
  border-color: #000 !important;
}
.table td, .table th {
   padding: 5px 5px !important;
}

.smalltext{
  font-size: 0.6rem;
}
@media print {
  // body * { display:none; }
  app-print-purchase {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  app-print-sale {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
   }

   app-print-packingslip {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
   }

   app-print-challanin {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
   }

   app-print-challanout {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
   }

   app-print-damage {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #fff;
   }
}

.gap30{
  height: 30px;
  width: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px !important;
  line-height: 1 !important;
  vertical-align: middle;
  border-top: 1px solid #000 !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #000;
}

.datasheet td,.datasheet th
{
  vertical-align: top !important;
}

.datasheet{
  background-color: #fff !important;
}

.table-bordered {
  border: 1px solid #000 !important;
}


#printarea {
	margin: auto;
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 10px;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}


.tableexport-caption{
  display: none !important;
}
